.footer-header {
    background-color: rgb(176, 236, 170);

    .footer {

        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(97, 68, 45);

    }
}